<div id="selectionInfo" class="selectionInfo guicard">
  <table>
    <thead>
    <th>Item</th>
    <th>Diff</th>
    <th>Same</th>
    </thead>
    <tbody>
    <tr class="fills">
      <td>Fills:</td>
      <td class="indicator"></td>
      <td class="indicator"></td>
    </tr>
    <tr class="colors">
      <td>Colors:</td>
      <td class="indicator"></td>
      <td class="indicator"></td>
    </tr>
    <tr class="shapes">
      <td>Shapes:</td>
      <td class="indicator"></td>
      <td class="indicator"></td>
    </tr>
    <tr class="nrOfshapes">
      <td># shapes</td>
      <td class="indicator"></td>
      <td class="indicator"></td>
    </tr>
    </tbody>
    <tfoot>

    </tfoot>
  </table>
</div>
